{{#> layout}}
{{#*inline "head"}}
{{/inline}}
{{#*inline "content"}}
<h1>Registered Users</h1>
<table class="primary">
  <thead>
    <tr>
      <th>SFU ID</th>
      <th>Display Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Admin</th>
      <th />
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td>{{email}}</td>
      <td>{{phone}}</td>
      <td>{{admin}}</td>
      <td class="button pseudo tooltip-right" data-tooltip="Edit user">
        <span id={{id}} class="fas fa-user-edit"></span>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{/inline}}
{{/layout}}