<!doctype html>
<html lang="en">
    <head>
        <title>SFU Lost and Found</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, inital-scale=1">
        <link rel="stylesheet" href="../css/layout.css">

        <style>
            table {
                width: 100%;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                border-spacing: 0px;
            }
            tr {
                height: 2em;
            }

            tr.lost {
                background-color: lightgreen;
            }
            tr.stolen {
                background-color: lightpink;
            }
            tr.found {
                background-color: lightblue;
            }

            tr td:nth-child(1) {
              width: 10%;
              text-align: center;
            }
            tr td:nth-child(2) {
              width: 50%;
            }
            tr td:nth-child(3) {
              width: 15%;
            }
            tr td:nth-child(4) {
              width: 20%;
              text-align: right;
            }
        </style>
        <!-- <script type="text/javascript" src="something.js"></script> -->
    </head>

    <body>
        {{> navbar}}
        <table>
        {{#each postings}}
        <tr class={{status}}>
            <td>{{post_status status}}</td>
            <td><a href={{url}}>{{title}}</a></td>
            <td>{{post_campus campus}}</td>
            <td>{{date_humanized}}</td>
        </tr>
        {{/each}}
        </table>
    </body>
</html>
