<!doctype html>
<html lang="en">
    <head>
        <title>SFU Lost and Found</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, inital-scale=1">
        <link rel="stylesheet" href="../css/layout.css">
        <link rel="stylesheet" href="../css/postings.css">
    </head>

    <body>
        {{> navbar}}
        
        <table id="postings">
            {{#each postings}}
            <tr class="posting {{status}}">
                <td>{{post_status status}}</td>
                <td><a href={{url}}>{{title}}</a></td>
                <td>{{post_campus campus}}</td>
                <td>{{date_humanized}}</td>
            </tr>
            {{/each}}
        </table>
    </body>
</html>
