<!doctype html>
<html lang="en">
    <head>
        <title>SFU Lost and Found</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, inital-scale=1">
        <link rel="stylesheet" href="../css/layout.css">
        <link rel="stylesheet" href="../css/viewpost.css">
    </head>

    <body>
        {{> navbar}}

        <div class="sidebar">
            {{!-- <div style="height: 300px; background-color: lightgreen;">
                Small map goes here
            </div> --}}
            {{#if image_url}}
                <img id="image" src="{{image_url}}"></img>
            {{else}}
                <p id="image_gone">No image available!</p>
            {{/if}}
            <p id="summary">
                <b>{{post_status status}}</b> at <b>{{post_campus campus}}</b> <br>
                {{location}} <br>
                {{post_date date}}
            </p>
            <br>
        </div>
        <div class="post">
            <h2 id="title">{{title}}</h2>
            <hr>
            <p id="details">{{detail}}</p>
            <table id="misctable">
                <tr>
                    <th><p>Contact Info:</p></th>
                    <td><p>{{posted_by}} <a href="#cool">(Contact them)</a></p></td>
                </tr>
                <tr>
                    <th><p>Post Created:</p></th>
                    <td><p>{{creation_date}}</p></td>
                </tr>
                <tr>
                    <th><p>Item Type:</p></th>
                    <td><p>{{item}}</p></td>
                </tr>
            </table>
        </div>

    </body>
</html>
